h1= title
p Welcome to #{title}

label(for="username") Username:
input(id="username")
label(for="password") Password:
input(id="password")

#request_output

input(type="button", id="go", value="Go")

br

textarea(id="xml")
