
box-shadow(args...)
  -moz-box-shadow args
  -webkit-box-shadow args
  box-shadow args

border-radius(radius)
  -webkit-border-radius radius
  -moz-border-radius radius
  border-radius radius

nav-left-offset = -120px
nav-top-offset = 20px
nav-width = 200px
nav-height = 200px
header-height = nav-height + nav-top-offset - 80px

html
  background url('../images/background.jpg')

body
  background url('../images/background-highlight.jpg') center 0 no-repeat

#wrapper
  position relative
  width 800px
  padding 20px

header
  font-size 3em
  height: header-height
  line-height: header-height
  margin 0 0 0 nav-left-offset + nav-width

nav
  position absolute
  top nav-top-offset
  left nav-left-offset
  width nav-width
  height nav-height
  background #88b6ea
  box-shadow 0px 0px 8px 0px rgba(0,0,0, .50)
  border-radius 10px

#contents
  height 500px
  background #d9e8ea
  padding 80px
  box-shadow 0px 0px 8px 0px rgba(0,0,0, .50)
  border-radius 2px

footer
  margin -20px 0 0 20px
  width 200px
  height 100px
  background #b7eaa2
  box-shadow 0px 0px 8px 0px rgba(0,0,0, .50)
  border-radius 5px
